<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Hotel Rooms</h1>
            </div>
            <div class="col-md-6">

            <div class="col-md-6 dropdown show">
              <label>Pet type</label>
              <a class="btn btn-secondary dropdown-menu-left" href="#" role="button" id="petTypeDropdown"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{regna}}
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                <button *ngFor="let regna of regnum" class="dropdown-item" type="button"
                        (click)="setRegna(regna)">{{regna}}</button>
              </div>
            </div>

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewRoomPage()">New Room</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>
                <button type="button" class="btn" (click)="sort('roomNumber', $event)" href="">
                  #
                </button>
                <span *ngIf="!asc && isSorted === 'roomNumber'" class="glyphicon glyphicon-sort-by-order"></span>
                <span *ngIf="asc && isSorted === 'roomNumber'" class="glyphicon glyphicon-sort-by-order-alt"></span>
              </th>
              <th>
                <button type="button" class="btn" (click)="sort('numberOfPlaces', $event)" href="">
                Number of places
                </button>
                <span *ngIf="!asc && isSorted === 'numberOfPlaces'" class="glyphicon glyphicon-sort-by-order"></span>
                <span *ngIf="asc && isSorted === 'numberOfPlaces'" class="glyphicon glyphicon-sort-by-order-alt"></span>
              </th>
              <th>
                <button type="button" class="btn" (click)="sort('freePlaces', $event)" href="">
                  Free places
                </button>
                <span *ngIf="!asc && isSorted === 'freePlaces'" class="glyphicon glyphicon-sort-by-order"></span>
                <span *ngIf="asc && isSorted === 'freePlaces'" class="glyphicon glyphicon-sort-by-order-alt"></span>
              </th>
              <th>
                <button type="button" class="btn" (click)="sort('petType', $event)" href="">
                  Pet type
                </button>
                <span *ngIf="!asc && isSorted === 'petType'" class="glyphicon glyphicon-sort-by-alphabet"></span>
                <span *ngIf="asc && isSorted === 'petType'" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
              </th>
              <th>
                <button type="button" class="btn" (click)="sort('price', $event)" href="">
                  Price
                </button>
                <span *ngIf="!asc && isSorted === 'price'" class="glyphicon glyphicon-sort-by-order"></span>
                <span *ngIf="asc && isSorted === 'price'" class="glyphicon glyphicon-sort-by-order-alt"></span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms; let i = index">
              <th scope="row">{{room.roomNumber}}</th>
              <td>{{room.numberOfPlaces}}</td>
              <td>{{room.freePlaces}}</td>
              <td>{{room.petType}}</td>
              <td>{{room.price}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="editRoomPage(room)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteRoom(room)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>

        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let p of pages; let i = index">
            <a class="nav-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}">{{i}}</a>
          </li>
        </ul>

      </section>
    </div>
  </div>
</div>
