<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Hotel Rooms</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewRoomPage()">New Room</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Number of places</th>
              <th>Free places</th>
              <th>Pet type</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms; let i = index">
              <th scope="row">{{room.roomNumber}}</th>
              <td>{{room.numberOfPlaces}}</td>
              <td>{{room.freePlaces}}</td>
              <td>{{room.petType}}</td>
              <td>{{room.price}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="editRoomPage(room)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteRoom(room)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

      </section>
    </div>
  </div>
</div>
