<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="roomForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="row">

              <div class="col-xs-6 col-md-4">
                <label>Room Number</label>
                <input *ngIf="isNewRoom()" type="text"
                       class="form-control"
                       formControlName="roomNumber">

                <a *ngIf="!isNewRoom()" class="btn btn-success disabled">{{roomNumber}}</a>
              </div>

              <div class="col-xs-6 col-md-4">
                <label>Number of places</label>
                <input type="text"
                       class="form-control"
                       formControlName="numberOfPlaces">
              </div>

              <div class="col-xs-6 col-md-3 dropdown show">
                <label>Room type (pet regna)</label><br>
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="regnaDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{regna}}
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <button *ngFor="let regna of regnum" class="dropdown-item" type="button"
                          (click)="setRegna(regna)">{{regna}}</button>
                </div>
              </div>

              <div class="col-xs-6 col-md-3 dropdown show">
                <label>Pet Type in room</label><br>
                <a *ngIf="!isPet()" class="btn btn-default disabled">Flover</a>

                <a *ngIf="isPet()" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="petTypeDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  {{petType}}
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <button *ngFor="let type of petTypes" class="dropdown-item" type="button"
                          (click)="setPetType(type)">{{type}}</button>
                </div>
              </div>

              <div *ngIf="!isPet()" class="col-xs-6 col-md-3 dropdown show">
                <label>Insolation</label><br>
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="plantInsolation"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{insolation}}
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <button *ngFor="let insolation of insolations" class="dropdown-item" type="button"
                          (click)="setInsolation(insolation)">{{insolation}}</button>
                </div>
              </div>

              <div class="col-xs-6 col-md-2">
                <label>Price</label>
                <input type="text"
                       class="form-control"
                       formControlName="price">
              </div>

              <div *ngIf="!isPet()" class="col-xs-6 col-md-2">
                <label>Temperature</label>
                <input type="text"
                       class="form-control"
                       formControlName="temperature">
              </div>

            </div>
          </fieldset>

          <br/>
          <button type="submit" class="btn btn-primary"  [disabled]="!roomForm.valid || petTypeIsValid()">Submit
          </button>
          <button type="button" class="btn btn-warning" (click)="redirectRoomPage()">Cancel</button>
        </form>
      </section>
    </div>
  </div>
</div>
